.barycenter {
  border-left: 3px solid black;
  padding-left: 12px;
}

.planets {
  border-left: 1px solid #9AC;
  padding-left: 14px;  
}

li.planet {
  list-style: none;
  border: 2px solid #ACF;
  border-bottom: 0;
  height:200px;
}

li.planet:last-child {
  border-bottom: 2px solid #ACF;
}

.planet-image {
  float: left;
  margin-right: 5px;
}

.planet-info {
  display: inline-block;
  width: 20%;
  min-width: 200px;
  float: none;
  padding: 5px;
}

/*temporary styles*/

.moon-info {
  display: inline-block;
  width: 20%;
  min-width: 200px;
  overflow: hidden;
  padding: 5px;
}